#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - default
%{ if length(ssh_public_keys) > 0 ~}
    ssh_authorized_keys:
%{ for key in ssh_public_keys ~}
      - ${key}
%{ endfor ~}
%{ endif ~}

package_update: true
package_upgrade: false

packages:
  - qemu-guest-agent
  - curl
  - vim

runcmd:
  - systemctl enable --now qemu-guest-agent

final_message: "cloud-init terminó de aprovisionar ${hostname} después de $UPTIME segundos"
